* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  #wrapper {
    overflow: scroll;
  }
}

#mask {
  width: 400%;
  height: 100%;
  background-image: url(../img/sky.png);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
}

@media only screen and (max-width: 767px) {
  #mask {
    width: 100%;
    background-image: url(../img/skyline-mobile.png);
    background-size: cover;
    background-repeat: repeat-y;
  }
}

.item {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  border: solid blue 1px;
}

@media only screen and (max-width: 767px) {
  .item {
    width: 100%;
    min-height: 1000px;
  }
}

.content {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  float: left;
  position: relative;
  color: white;
}

@media only screen and (max-width: 767px) {
  .content {
    width: 100%;
    height: 50%;
    min-height: 500px;
  }
}

.selected {
  background: #fff;
  font-weight: 700;
}

.clear {
  clear: both;
}

.tour-bus {
  bottom: -35px;
  left: 25%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 30%;
  z-index: 999;
}

@media only screen and (max-width: 767px) {
  .tour-bus {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .tour-bus {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .tour-bus {
    width: 40%;
  }
}

@media only screen and (min-width: 1440px) {
  .tour-bus {
    width: 30%;
  }
}

.mobile-truck {
  position: fixed;
  z-index: 999;
  width: 20%;
  top: 20px;
  left: 20px;
}

.truck {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheels {
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
}

#wheel-1 {
  top: 80%;
  left: 88.5%;
}

#wheel-2 {
  top: 80%;
  left: 61.5%;
}

#wheel-3 {
  top: 80%;
  left: 52.4%;
}

#wheel-4 {
  top: 80%;
  left: 22.7%;
}

#wheel-5 {
  top: 80%;
  left: 15.7%;
}

#wheel-6 {
  top: 80%;
  left: 8.3%;
}

.skyline {
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .skyline__top-wichita {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .skyline__top-wichita {
    top: 13%;
  }
}

@media only screen and (min-width: 1024px) {
  .skyline__top-wichita {
    top: 7%;
  }
}

@media only screen and (min-width: 1440px) {
  .skyline__top-wichita {
    top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .skyline__top-atl {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .skyline__top-atl {
    top: 7%;
  }
}

@media only screen and (min-width: 1024px) {
  .skyline__top-atl {
    top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .skyline__top-atl {
    top: -60px;
  }
}

@media only screen and (max-width: 767px) {
  .skyline__top-nashville {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .skyline__top-nashville {
    top: 9%;
  }
}

@media only screen and (min-width: 1024px) {
  .skyline__top-nashville {
    top: 2%;
  }
}

@media only screen and (min-width: 1440px) {
  .skyline__top-nashville {
    top: -30px;
  }
}

@media only screen and (max-width: 767px) {
  .skyline__top-austin {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .skyline__top-austin {
    top: 6%;
  }
}

@media only screen and (min-width: 1024px) {
  .skyline__top-austin {
    top: 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .skyline__top-austin {
    top: -30px;
  }
}

.billboard {
  position: absolute;
  width: 25%;
  bottom: -65px;
  left: 71%;
  z-index: 1000;
}

@media only screen and (max-width: 767px) {
  .billboard {
    width: 80%;
    top: 375px;
    left: 9%;
  }
}

@media only screen and (min-width: 768px) {
  .billboard {
    width: 30%;
    left: 65%;
  }
}

@media only screen and (min-width: 1024px) {
  .billboard {
    width: 35%;
    left: 61%;
  }
}

@media only screen and (min-width: 1440px) {
  .billboard {
    width: 30%;
    left: 65%;
  }
}

.hover-state {
  -webkit-filter: brightness(0.5);
  cursor: pointer;
}

.hover-state:hover {
  -webkit-filter: brightness(1);
}

.quote {
  position: absolute;
  width: 21%;
  top: 0px;
  left: 74%;
  cursor: pointer;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .quote {
    width: 25%;
    top: 140px;
    left: 67%;
  }
}

@media only screen and (min-width: 1024px) {
  .quote {
    width: 30%;
    top: 40px;
    left: 65%;
  }
}

@media only screen and (min-width: 1440px) {
  .quote {
    width: 30%;
    top: 10px;
  }
}

.poster {
  position: absolute;
  width: 35%;
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .poster {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .poster {
    top: 65%;
    width: 46%;
  }
}

@media only screen and (min-width: 1440px) {
  .poster {
    width: 30%;
  }
}

.album {
  position: absolute;
  width: 20%;
  top: 75%;
  left: 62%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .album {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .album {
    top: 41%;
    width: 18%;
  }
}

@media only screen and (min-width: 1440px) {
  .album {
    width: 30%;
  }
}

.sticks {
  width: 50%;
}

.video {
  width: 40%;
  position: absolute;
  top: 280px;
  left: 1%;
  transform: rotate(-10deg);
}
